{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }


  /***** NEWS & TOPICS *****/
  .page-width--narrow {
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 75.2rem;
  }
  .h1-news {
    margin: 0;
    text-align: center;
  }
  .list-news-topics {
    margin: 50px auto 0;
    border-top: solid 1px #ccc;
  }
  .list-news-topics > div {
    padding: 1rem;
    border-bottom: solid 1px #ccc;
  }
  .list-news-topics dt {
    color: #8D8D8D;
  }
  .list-news-topics dd {
    margin: 0;
  }
  .list-news-topics a {
    color: #000;
    text-decoration: none;
  }
  .list-news-topics a:hover {
    text-decoration: underline;
  }

  @media screen and (min-width: 750px) {
    .h1-news svg {
      width: 304.67px;
      height: 28.96px;
    }
    .list-news-topics {
      margin-top: 90px;
    }
    .list-news-topics > div {
      display: flex;
      padding: 1.5rem 1rem;
      font-size: 16px;
    }
    .list-news-topics dt {
      width: 11.5rem;
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
  
{%- endstyle -%}

{%- paginate blog.articles by 20 -%}
  <div class="page-width--narrow section-{{ section.id }}-padding page-{{ blog.handle }}">
    <h1 class="h1-news">
      <svg xmlns="http://www.w3.org/2000/svg" width="243.734" height="23.172" viewBox="0 0 243.734 23.172">
        <path id="パス_2512" data-name="パス 2512" d="M-100.992,0h-5.094l-9.234-14.078a20.359,20.359,0,0,1-1.125-1.859h-.062q.125,1.188.125,3.625V0h-4.766V-22.406h5.438l8.891,13.641q.609.922,1.125,1.828h.063a23.956,23.956,0,0,1-.125-3.078V-22.406h4.766ZM-82.43,0H-95.867V-22.406h12.922V-18.3H-90.82v4.984h7.328v4.094H-90.82v5.125h8.391Zm33.547-22.406L-54.8,0H-60.4l-3.719-14.375a11.986,11.986,0,0,1-.359-2.516h-.062a15.284,15.284,0,0,1-.406,2.516L-68.758,0h-5.828l-5.891-22.406h5.516L-71.8-7.484a17.813,17.813,0,0,1,.3,2.563h.094a12.4,12.4,0,0,1,.453-2.625L-66.9-22.406h5.406L-57.82-7.359a18.425,18.425,0,0,1,.359,2.406h.063a16.132,16.132,0,0,1,.328-2.5l3.094-14.953ZM-47.07-.859v-5a9.608,9.608,0,0,0,2.953,1.711,9.492,9.492,0,0,0,3.219.57,7.138,7.138,0,0,0,1.664-.172,3.9,3.9,0,0,0,1.188-.477,2.078,2.078,0,0,0,.711-.719,1.793,1.793,0,0,0,.234-.9,1.942,1.942,0,0,0-.375-1.172A4.035,4.035,0,0,0-38.5-7.969a10.694,10.694,0,0,0-1.539-.844q-.891-.406-1.922-.828a9.809,9.809,0,0,1-3.914-2.672,5.833,5.833,0,0,1-1.289-3.812,6.072,6.072,0,0,1,.7-3.008,5.972,5.972,0,0,1,1.914-2.07,8.582,8.582,0,0,1,2.8-1.2,14.411,14.411,0,0,1,3.375-.383,20.3,20.3,0,0,1,3.1.211,12.2,12.2,0,0,1,2.492.648v4.672A7.536,7.536,0,0,0-34-17.937a9.718,9.718,0,0,0-1.367-.492,10.429,10.429,0,0,0-1.4-.289,9.9,9.9,0,0,0-1.32-.094,6.885,6.885,0,0,0-1.562.164,4.008,4.008,0,0,0-1.187.461,2.293,2.293,0,0,0-.75.711,1.685,1.685,0,0,0-.266.93,1.776,1.776,0,0,0,.3,1.008,3.405,3.405,0,0,0,.844.844,8.954,8.954,0,0,0,1.328.781q.781.383,1.766.789a19.674,19.674,0,0,1,2.414,1.2,8.582,8.582,0,0,1,1.836,1.43A5.569,5.569,0,0,1-32.2-8.68,6.432,6.432,0,0,1-31.789-6.3,6.383,6.383,0,0,1-32.5-3.148a5.772,5.772,0,0,1-1.93,2.063A8.368,8.368,0,0,1-37.266.047,16.39,16.39,0,0,1-40.68.391,18.984,18.984,0,0,1-44.187.078,10.589,10.589,0,0,1-47.07-.859ZM1.273.359A5.527,5.527,0,0,1-.3.141,6.7,6.7,0,0,1-1.7-.453a7.937,7.937,0,0,1-1.258-.883A13.017,13.017,0,0,1-4.086-2.422a13.22,13.22,0,0,1-1.391.969,11.365,11.365,0,0,1-1.836.9A14.262,14.262,0,0,1-9.57.1a12.9,12.9,0,0,1-2.641.258,12.451,12.451,0,0,1-3.383-.437,7.8,7.8,0,0,1-2.68-1.3,6.071,6.071,0,0,1-1.758-2.148A6.623,6.623,0,0,1-20.664-6.5a5.618,5.618,0,0,1,.477-2.367,6.369,6.369,0,0,1,1.242-1.82,8.132,8.132,0,0,1,1.734-1.344,13.032,13.032,0,0,1,1.969-.937,10.345,10.345,0,0,1-.977-.867,7.054,7.054,0,0,1-.883-1.078,5.7,5.7,0,0,1-.633-1.273,4.341,4.341,0,0,1-.242-1.453,4.64,4.64,0,0,1,.5-2.187,4.649,4.649,0,0,1,1.4-1.609,6.549,6.549,0,0,1,2.148-1,10.353,10.353,0,0,1,2.75-.344,9.117,9.117,0,0,1,2.633.359,6.569,6.569,0,0,1,2.055,1,4.509,4.509,0,0,1,1.328,1.539A4.208,4.208,0,0,1-4.7-17.906,4.611,4.611,0,0,1-5.734-14.9a7.393,7.393,0,0,1-2.93,2.07,11.941,11.941,0,0,1,1.438.781,11.807,11.807,0,0,1,1.344,1A12.825,12.825,0,0,1-4.6-9.773,14.994,14.994,0,0,1-3.367-8.141a10.312,10.312,0,0,0,1.836-3.43,12.926,12.926,0,0,0,.555-3.789,8.943,8.943,0,0,0-.07-1.141,5.375,5.375,0,0,0-.227-1.016h4.2a6.039,6.039,0,0,1,.25.969,6.844,6.844,0,0,1,.078,1.109,13.537,13.537,0,0,1-.32,2.953,14.776,14.776,0,0,1-.9,2.75A14.548,14.548,0,0,1,.641-7.25a17.821,17.821,0,0,1-1.8,2.188A6.294,6.294,0,0,0,.414-3.836a3.292,3.292,0,0,0,1.531.43A7.439,7.439,0,0,0,3.477-3.57a5.4,5.4,0,0,0,1.359-.461V-.312A9.484,9.484,0,0,1,3.141.2,9.731,9.731,0,0,1,1.273.359ZM-11.961-3.375a8.019,8.019,0,0,0,1.734-.18A9.216,9.216,0,0,0-8.7-4.031a8.708,8.708,0,0,0,1.336-.687,11.492,11.492,0,0,0,1.133-.812A16.092,16.092,0,0,0-7.8-7.648,13.549,13.549,0,0,0-9.352-9.133a10.842,10.842,0,0,0-1.523-1.039q-.758-.422-1.523-.766a11.288,11.288,0,0,0-1.227.7,5.186,5.186,0,0,0-1.039.891A4.136,4.136,0,0,0-15.391-8.2,3.813,3.813,0,0,0-15.664-6.7,3.367,3.367,0,0,0-15.4-5.344,2.973,2.973,0,0,0-14.641-4.3a3.52,3.52,0,0,0,1.172.68A4.467,4.467,0,0,0-11.961-3.375ZM-9.07-17.562a1.86,1.86,0,0,0-.172-.812,1.725,1.725,0,0,0-.469-.6,2.233,2.233,0,0,0-.672-.375,2.369,2.369,0,0,0-.8-.133,2.748,2.748,0,0,0-.945.156,2.5,2.5,0,0,0-.75.422,1.812,1.812,0,0,0-.492.633,1.838,1.838,0,0,0-.172.789,2.636,2.636,0,0,0,.547,1.609,4.262,4.262,0,0,0,1.359,1.188,7.22,7.22,0,0,0,.977-.437,3.628,3.628,0,0,0,.813-.594,2.7,2.7,0,0,0,.563-.8A2.456,2.456,0,0,0-9.07-17.562ZM32.477-18.3H26.086V0H21.023V-18.3H14.664v-4.109H32.477ZM43.773.391A10.43,10.43,0,0,1,35.93-2.742,11.247,11.247,0,0,1,32.9-10.906,12.052,12.052,0,0,1,35.977-19.5a10.657,10.657,0,0,1,8.156-3.281,10.17,10.17,0,0,1,7.758,3.141,11.579,11.579,0,0,1,2.961,8.281,11.859,11.859,0,0,1-3.07,8.516A10.538,10.538,0,0,1,43.773.391Zm.219-18.828a5.08,5.08,0,0,0-4.219,1.992,8.306,8.306,0,0,0-1.562,5.273,8.154,8.154,0,0,0,1.563,5.266,5.006,5.006,0,0,0,4.094,1.938,5.057,5.057,0,0,0,4.141-1.883,8.064,8.064,0,0,0,1.531-5.227A8.738,8.738,0,0,0,48.055-16.5,4.84,4.84,0,0,0,43.992-18.437ZM63.617-7.719V0H58.57V-22.406h7.906q8.469,0,8.469,7.141A6.851,6.851,0,0,1,72.516-9.8a9.626,9.626,0,0,1-6.492,2.086Zm0-10.812v6.984H65.6q4.031,0,4.031-3.531,0-3.453-4.031-3.453ZM83.273,0H78.227V-22.406h5.047ZM104.43-.8A14.776,14.776,0,0,1,98.023.391a10.8,10.8,0,0,1-8.109-3.031,11.08,11.08,0,0,1-2.953-8.078,11.838,11.838,0,0,1,3.32-8.719A11.614,11.614,0,0,1,98.9-22.781a16.115,16.115,0,0,1,5.531.828v4.859A9.8,9.8,0,0,0,99.3-18.437a6.8,6.8,0,0,0-5.094,1.984,7.363,7.363,0,0,0-1.937,5.375A7.222,7.222,0,0,0,94.1-5.9a6.458,6.458,0,0,0,4.922,1.93,10.5,10.5,0,0,0,5.406-1.437ZM107.3-.859v-5a9.608,9.608,0,0,0,2.953,1.711,9.492,9.492,0,0,0,3.219.57,7.138,7.138,0,0,0,1.664-.172,3.9,3.9,0,0,0,1.188-.477,2.078,2.078,0,0,0,.711-.719,1.793,1.793,0,0,0,.234-.9,1.942,1.942,0,0,0-.375-1.172,4.035,4.035,0,0,0-1.023-.953,10.694,10.694,0,0,0-1.539-.844q-.891-.406-1.922-.828a9.809,9.809,0,0,1-3.914-2.672,5.833,5.833,0,0,1-1.289-3.812,6.072,6.072,0,0,1,.7-3.008,5.972,5.972,0,0,1,1.914-2.07,8.582,8.582,0,0,1,2.8-1.2,14.411,14.411,0,0,1,3.375-.383,20.3,20.3,0,0,1,3.1.211,12.2,12.2,0,0,1,2.492.648v4.672a7.536,7.536,0,0,0-1.227-.687,9.718,9.718,0,0,0-1.367-.492,10.429,10.429,0,0,0-1.4-.289,9.9,9.9,0,0,0-1.32-.094,6.885,6.885,0,0,0-1.562.164,4.008,4.008,0,0,0-1.187.461,2.293,2.293,0,0,0-.75.711,1.685,1.685,0,0,0-.266.93,1.776,1.776,0,0,0,.3,1.008,3.405,3.405,0,0,0,.844.844,8.954,8.954,0,0,0,1.328.781q.781.383,1.766.789a19.674,19.674,0,0,1,2.414,1.2,8.582,8.582,0,0,1,1.836,1.43,5.57,5.57,0,0,1,1.172,1.82,6.432,6.432,0,0,1,.406,2.383,6.383,6.383,0,0,1-.711,3.148,5.772,5.772,0,0,1-1.93,2.063A8.368,8.368,0,0,1,117.109.047,16.39,16.39,0,0,1,113.7.391a18.984,18.984,0,0,1-3.508-.312A10.589,10.589,0,0,1,107.3-.859Z" transform="translate(121.148 22.781)"/>
      </svg>
    </h1>

    <dl class="list-news-topics">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          <dt>{{ article.published_at | date: '%Y.%m.%d' }}</dt>
          <dd>{{ article.title | link_to: article.url }}</dd>
        </div>
      {%- endfor -%}
    </dl>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}




{% schema %}
{
  "name": "NEWS and TOPICS",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
